body {
    margin: 0px;
    background-color: black;
}

#path{
    width: 1050px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.wall {
    width: 50px;
    height: 50px;

    background: rgb(41, 41, 41);
}

.path {
    width: 50px;
    height: 50px;

    background: lightgray;
}

#begin {
    width: 50px;
    height: 50px;

    background: yellowgreen;
}

#end {
    width: 50px;
    height: 50px;

    background: yellowgreen;
}

#caracter {
    margin:0;
    width: 50px;
    height: 50px;
    position: absolute;
    background: yellow;
    left: 0px;
    top: 450px;

    border-radius: 50px;
}